<div class="card-products">
  @if (cartProductService.items.length < 1) {
  <mat-card>
    <mat-card-content>
      <span> O carrinho está vazio </span>
    </mat-card-content>
  </mat-card>
  } @else {
  <span class="example-list-section">
    <mat-checkbox
      class="example-margin"
      [checked]="cartProductService.allComplete"
      [indeterminate]="cartProductService.someComplete()"
      (change)="cartProductService.setAll($event.checked); updatePrice()"
    >
      Marcar Todos
    </mat-checkbox>
  </span>

  @for (product of cartProductService.productCart$ | async; track product.id) {

  <card-product
    [product]="product"
    [hasButtonAdd]="false"
    [hasButtonBack]="false"
    [carouselConfig]="carouselConfig"
    [display]="cardContent.display"
    [content]="cardContent.content"
    [hasOperators]="false"
    [hasOptions]="true"
    [showTitle]="false"
  >
    <mat-checkbox
      header
      [(ngModel)]="product.marked"
      (ngModelChange)="updatePrice()"
    >
      {{product.title}}
    </mat-checkbox></card-product
  >
  }
  <mat-card>
    <mat-card-content>
      <span>
        Total da compra
        <p class="price">{{price | currency : "BRL" : "symbol"}}</p>
      </span>
    </mat-card-content>
  </mat-card>
  }
</div>
