:host {
  display: block;
  form {
    display: flex;
    gap: 10px;
  }
  .card-products {
    display: flex;
    gap: 10px;
    mat-card {
      max-width: 400px;
      img {
        width: 200px;
        height: 200px;
        align-self: center;
      }
      p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
