:host {
  display: block;
  form {
    display: flex;
    gap: 10px;
  }

  .card-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    ::ng-deep {
      p {
        margin-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      mat-card-actions {
        gap: 10px;
      }
    }
  }
}
