<form [formGroup]="formGroupProduct">
  <pulso-form-field [fixedLabel]="true">
    <label for="title">Title</label>
    <input
      type="text"
      placeholder="Digite seu nome"
      formControlName="title"
      required
    />
  </pulso-form-field>
  <pulso-form-field [fixedLabel]="true">
    <label for="price">Price</label>
    <input
      type="text"
      placeholder="Digite seu nome"
      formControlName="price"
      required
    />
  </pulso-form-field>
  <pulso-form-field>
    <label for="category"> Category</label>
    <pulso-select
      placeholder="Selecione uma categoria"
      formControlName="category"
    >
      <pulso-option [value]="null"> Selecione uma categoria </pulso-option>
      <pulso-option
        [value]="category._id"
        *ngFor="let category of categoriesResponse"
        >{{category.name}}
      </pulso-option>
    </pulso-select>
  </pulso-form-field>

  <mat-form-field>
    <mat-label>Price</mat-label>
    <input
      matInput
      type="text"
      placeholder="Digite seu nome"
      formControlName="price"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea
      matInput
      formControlName="description"
      type="text"
      placeholder="Digite seu nome"
      required
    ></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Image</mat-label>
    <input
      matInput
      type="text"
      placeholder="Digite seu nome"
      formControlName="image"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select
      placeholder="Selecione uma categoria"
      formControlName="category"
    >
      <mat-option [value]="null"> Selecione uma categoria </mat-option>
      <mat-option
        [value]="category._id"
        *ngFor="let category of categoriesResponse"
        >{{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

@for (product of productsResponse; track product) {
<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ product.title }}</mat-card-title>
      <mat-card-subtitle>{{ product.category.name }}</mat-card-subtitle>
      <img mat-card-sm-image [src]="product.image" [alt]="product.title" />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>{{product.description}} </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-raised-button color="primary">Deletar</button>
  </mat-card-actions>
</mat-card>
}
