:host {
  display: flex;
  flex-direction: column;
  mat-card {
    ::ng-deep {
      .carousel {
        .container {
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}
