<div class="carousel">
  @if (lengthGreaterThanOne) {
  <button
    mat-icon-button
    class="previous"
    (click)="onPreviousClick()"
    *ngIf="hasOperators"
  >
    <mat-icon fontIcon="arrow_back_ios"></mat-icon>
  </button>
  }
  <div
    class="container"
    *ngFor="let image of images; let i = index"
    [class.active]="i === currentSlide"
  >
    <img
      [src]="image"
      [style.width]="width"
      [style.height]="height"
      [style.objectFit]="objectFit"
      *ngIf="i === currentSlide"
      alt="product"
      @carouselAnimation
    />
  </div>
  @if (lengthGreaterThanOne) {
  <button
    mat-icon-button
    class="next"
    (click)="onNextClick()"
    *ngIf="hasOperators"
  >
    <mat-icon fontIcon="arrow_forward_ios"></mat-icon>
  </button>
  }
</div>
