:host {
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      display: none !important;
      &.active {
        display: flex !important;
        justify-content: center;
        height: 100%;
      }
    }
    img {
      border-radius: 10px;
      max-width: 100%;
    }
  }
  .next,
  .previous {
    z-index: 1;
    height: 35px;
    width: 35px;
  }
  mat-icon {
    position: absolute;
    top: 6px;
    left: 8px;
  }
}
