<ng-container *ngIf="product">
  <button
    *ngIf="hasButtonBack"
    mat-raised-button
    color="primary"
    (click)="backRoute()"
  >
    <mat-icon fontIcon="exit_to_app"></mat-icon>
    Voltar
  </button>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ product.title }}</mat-card-title>
      @if (isProductRequest(product)) {
      <mat-card-subtitle>{{ product.category.name }}</mat-card-subtitle>
      }
    </mat-card-header>
    <mat-card-content
      [style.display]="display"
      [style.justify-content]="content"
    >
      <carousel
        [images]="product.image"
        [width]="carouselConfig.width"
        [height]="carouselConfig.height"
        [objectFit]="carouselConfig.objectFIt"
        [hasOperators]="hasOperators"
      ></carousel>
      @if (isProductRequest(product)) {
      <p>{{ product.description }}</p>
      }
      <div class="container-options">
        <div class="options" *ngIf="hasOptions">
          <button mat-icon-button color="primary">-</button>
          <p *ngIf="!isProductRequest(product)" class="price">
            {{ product.quantity }}
          </p>
          <button mat-icon-button color="primary" (click)="addProductCart()">
            +
          </button>
        </div>
        <p class="price">{{ product.price | currency : "BRL" : "symbol" }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="hasButtonAdd" mat-raised-button (click)="addProductCart()">
        <mat-icon fontIcon="add_shopping_cart"></mat-icon>
        Adicionar
      </button>
      <button
        *ngIf="hasButtonView"
        mat-icon-button
        [routerLink]="['/products-details/', product.id]"
      >
        <mat-icon>{{ !visibility ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
