<mat-toolbar *unless="isAuthPage">
  <button mat-icon-button (click)="sideNav = !sideNav">
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
  <span class="page-title">{{ pageTitle }} </span>
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    (click)="isMode = !isMode"
    [matTooltip]="isMode ? 'Desabilitar tema escuro' : 'Habilitar tema claro'"
  >
    <mat-icon
      class="theme-mode"
      [fontIcon]="isMode ? 'dark_mode' : 'light_mode'"
    ></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Notificações">
    <mat-icon fontIcon="notifications"> </mat-icon>
  </button>
  <div class="user">
    <button
      mat-icon-button
      matTooltip="Conta"
      [routerLink]="['account']"
      [routerLinkActive]="['active']"
    >
      <mat-icon fontIcon="account_circle"></mat-icon>
    </button>
  </div>
  <a
    href="https://github.com/giselida"
    aria-label="Github"
    target="_blank"
    rel="noopener"
    *ngIf="isAccountPage"
  >
    <button mat-icon-button matTooltip="GitHub" class="social-links">
      <img
        mat-card-image
        ngSrc="assets/images/github-logo.png"
        width="250"
        height="250"
        priority
        alt="login-concept-illustration"
      />
    </button>
  </a>
  <button
    [routerLink]="['cart']"
    [routerLinkActive]="['active']"
    mat-icon-button
    matTooltip="Carrinho"
  >
    <mat-icon
      fontIcon="shopping_cart"
      matBadge="{{ numberProductsOfCart | async }}"
      matBadgeColor="warn"
    ></mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Sair"
    [routerLink]="['auth']"
    [routerLinkActive]="['active']"
  >
    <mat-icon fontIcon="exit_to_app"></mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer
    *unless="isAuthPage"
    class="mat-drawer-side-nav"
    [@slideInOut]="sideNav"
    mode="side"
    opened
  >
    @for (menu of menuItems; track menuItems) {
    <div
      aria-hidden="true"
      (click)="sideNav = false"
      class="menu"
      routerLinkActive="active"
      [routerLink]="menu.route"
      [matTooltip]="sideNav ? '' : menu.toolTip"
    >
      <mat-icon fontSet="material-symbols-outlined">
        {{ menu.icon }}
      </mat-icon>
      <span class="page-name"> {{ menu.pageName }}</span>
    </div>
    }
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
