:host {
  --gray-400: oklch(70.9% 0.015 304.04);
  --gray-900: oklch(19.37% 0.006 300.98);
  display: block;
  .user {
    display: flex;
    align-items: center;
    .user-name {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
    }
  }
  mat-toolbar {
    background-color: var(--primary-50);
  }
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar-row,
  .mat-toolbar-single-row {
    border-bottom: 1px solid var(--primary-50);
    padding: 0;
  }
  .mat-drawer-container {
    min-height: calc(100vh - 64px);
  }
  .menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 10px 5px;
    border-bottom: 1px solid var(--primary-50);
    min-width: 200px;
    width: 100%;
    mat-icon {
      margin-left: 5px;
    }
    .page-name {
      margin-left: 15px;
    }
  }
  mat-drawer {
    background-color: var(--primary-50);
    color: var(--mat-toolbar-container-text-color);
    min-width: 50px;
    border: 1px solid var(--primary-50);
    border-top: none;
    text-align: center;
  }
}
.active {
  color: var(--primary);
  font-weight: bold;
}
.page-title {
  margin-left: 10px;
  user-select: none;
}
