@import "app/shared/scss/reset.scss";
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-erros {
  position: relative;
}
[class*="-error"] {
  color: red;
  font-size: 12px;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  padding: 0 16px;
}
